In [61]:
import os
os.getcwd()

'C:\\Users\\lenovo\\Desktop\\Digital Lync-Data Science'

In [62]:
import pandas as pd

In [63]:
train = pd.read_csv(r"F:\Desktop\DataSets\Loan_Prediction\train.csv")
test = pd.read_csv(r"F:\Desktop\DataSets\Loan_Prediction\test.csv")

In [64]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [65]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [66]:
train = train.set_index('Loan_ID')
test = test.set_index('Loan_ID')

In [67]:
print(train.isnull().sum(), train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(7)
memory usage: 62.4+ KB
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64 None

In [68]:
print(test.info(), test.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 367 entries, LP001015 to LP002989
Data columns (total 11 columns):
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(6)
memory usage: 34.4+ KB
None Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [69]:
train = train.drop(['Dependents'], axis = 'columns')
test = test.drop(['Dependents'], axis = 'columns')

In [70]:
print(train.isnull().sum(), train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 11 columns):
Gender               601 non-null object
Married              611 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(6)
memory usage: 57.6+ KB
Gender               13
Married               3
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64 None

In [71]:
train['Loan_Status'] = train['Loan_Status'].astype('category')
columns = ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area','Credit_History']
for col in columns:
    train[col] = train[col].astype('category')
    test[col] = test[col].astype('category')

In [72]:
print(train.isnull().sum(), train.info())

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 11 columns):
Gender               601 non-null category
Married              611 non-null category
Education            614 non-null category
Self_Employed        582 non-null category
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null category
Property_Area        614 non-null category
Loan_Status          614 non-null category
dtypes: category(7), float64(3), int64(1)
memory usage: 28.8+ KB
Gender               13
Married               3
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64 None

In [73]:
print(test.isnull().sum(), test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 367 entries, LP001015 to LP002989
Data columns (total 10 columns):
Gender               356 non-null category
Married              367 non-null category
Education            367 non-null category
Self_Employed        344 non-null category
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null category
Property_Area        367 non-null category
dtypes: category(6), float64(2), int64(2)
memory usage: 17.1+ KB
Gender               11
Married               0
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64 None

In [74]:
columns = ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area','Credit_History']
for cols in columns:
    mode = train[cols].value_counts().index[0]
    train[cols] = train[cols].fillna(mode)
    test[cols] = test[cols].fillna(mode)

In [75]:
print(train.isnull().sum(),test.isnull().sum())

Gender                0
Married               0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64 Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           5
Loan_Amount_Term     6
Credit_History       0
Property_Area        0
dtype: int64

In [76]:
from sklearn.preprocessing import Imputer
med_imp = Imputer(missing_values = 'NaN', strategy = 'median', copy = False)
cols = ['LoanAmount', 'Loan_Amount_Term']
for col in cols:
    train[col] = med_imp.fit_transform(train[col].values.reshape(-1, 1))
    test[col] = med_imp.fit_transform(test[col].values.reshape(-1, 1))

In [77]:
print(train.isnull().sum(), test.isnull().sum())

Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64 Gender               0
Married              0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [78]:
dum_cols = ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area','Credit_History']
train1 = pd.get_dummies(train,columns = dum_cols, drop_first = True)
test1 = pd.get_dummies(test,columns = dum_cols, drop_first = True)

In [79]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
ApplicantIncome            614 non-null int64
CoapplicantIncome          614 non-null float64
LoanAmount                 614 non-null float64
Loan_Amount_Term           614 non-null float64
Loan_Status                614 non-null category
Gender_Male                614 non-null uint8
Married_Yes                614 non-null uint8
Education_Not Graduate     614 non-null uint8
Self_Employed_Yes          614 non-null uint8
Property_Area_Semiurban    614 non-null uint8
Property_Area_Urban        614 non-null uint8
Credit_History_1.0         614 non-null uint8
dtypes: category(1), float64(3), int64(1), uint8(7)
memory usage: 28.9+ KB

In [80]:
print(test1.isnull().sum(), test1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 367 entries, LP001015 to LP002989
Data columns (total 11 columns):
ApplicantIncome            367 non-null int64
CoapplicantIncome          367 non-null int64
LoanAmount                 367 non-null float64
Loan_Amount_Term           367 non-null float64
Gender_Male                367 non-null uint8
Married_Yes                367 non-null uint8
Education_Not Graduate     367 non-null uint8
Self_Employed_Yes          367 non-null uint8
Property_Area_Semiurban    367 non-null uint8
Property_Area_Urban        367 non-null uint8
Credit_History_1.0         367 non-null uint8
dtypes: float64(2), int64(2), uint8(7)
memory usage: 16.8+ KB
ApplicantIncome            0
CoapplicantIncome          0
LoanAmount                 0
Loan_Amount_Term           0
Gender_Male                0
Married_Yes                0
Education_Not Graduate     0
Self_Employed_Yes          0
Property_Area_Semiurban    0
Property_Area_Urban        0
Credit_History_1.0         0
dtype: int64 None

In [81]:
train1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Credit_History_1.0
Loan_ID,,,,,,,,,,,,
LP001002,5849,0.0,128.0,360.0,Y,1,0,0,0,0,1,1
LP001003,4583,1508.0,128.0,360.0,N,1,1,0,0,0,0,1
LP001005,3000,0.0,66.0,360.0,Y,1,1,0,1,0,1,1
LP001006,2583,2358.0,120.0,360.0,Y,1,1,1,0,0,1,1
LP001008,6000,0.0,141.0,360.0,Y,1,0,0,0,0,1,1

In [82]:
test1.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Credit_History_1.0
Loan_ID,,,,,,,,,,,
LP001015,5720,0,110.0,360.0,1,1,0,0,0,1,1
LP001022,3076,1500,126.0,360.0,1,1,0,0,0,1,1
LP001031,5000,1800,208.0,360.0,1,1,0,0,0,1,1
LP001035,2340,2546,100.0,360.0,1,1,0,0,0,1,1
LP001051,3276,0,78.0,360.0,1,0,1,0,0,1,1

In [83]:
x = train1.drop(['Loan_Status'], axis = 1)
y = train1['Loan_Status']

In [84]:
x.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender_Male,Married_Yes,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Credit_History_1.0
Loan_ID,,,,,,,,,,,
LP001002,5849,0.0,128.0,360.0,1,0,0,0,0,1,1
LP001003,4583,1508.0,128.0,360.0,1,1,0,0,0,0,1
LP001005,3000,0.0,66.0,360.0,1,1,0,1,0,1,1
LP001006,2583,2358.0,120.0,360.0,1,1,1,0,0,1,1
LP001008,6000,0.0,141.0,360.0,1,0,0,0,0,1,1

In [85]:
y.head()

Loan_ID
LP001002    Y
LP001003    N
LP001005    Y
LP001006    Y
LP001008    Y
Name: Loan_Status, dtype: category
Categories (2, object): [N, Y]

In [86]:
print(x.shape, y.shape)

(614, 11) (614,)

In [87]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(C = 1e5)
model.fit(x, y)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [88]:
train_preds = model.predict(x)
test_preds = model.predict(test1)

In [89]:
print(train_preds[:6], test_preds[:6])

['Y' 'Y' 'Y' 'Y' 'Y' 'Y'] ['Y' 'Y' 'Y' 'Y' 'Y' 'Y']

In [90]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
conf = confusion_matrix(y, train_preds)
clrp = classification_report(y, train_preds)
print(conf)
print(clrp)

[[ 84 108]
 [  8 414]]
             precision    recall  f1-score   support

          N       0.91      0.44      0.59       192
          Y       0.79      0.98      0.88       422

avg / total       0.83      0.81      0.79       614

In [91]:
test1.index

Index(['LP001015', 'LP001022', 'LP001031', 'LP001035', 'LP001051', 'LP001054',
       'LP001055', 'LP001056', 'LP001059', 'LP001067',
       ...
       'LP002952', 'LP002954', 'LP002962', 'LP002965', 'LP002969', 'LP002971',
       'LP002975', 'LP002980', 'LP002986', 'LP002989'],
      dtype='object', name='Loan_ID', length=367)

In [92]:
submission = pd.DataFrame(test_preds, index = test1.index, columns = ['Loan_Status'])

In [93]:
print(submission.head())
submission.to_csv('Loan_Prediction_LogRegr.csv', index = True)

         Loan_Status
Loan_ID
LP001015           Y
LP001022           Y
LP001031           Y
LP001035           Y
LP001051           Y

In [94]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy', random_state = 100, max_depth = 3, min_samples_leaf = 5)
model.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [95]:
train_preds = model.predict(x)
test_preds  = model.predict(test1)

In [96]:
from sklearn.metrics import accuracy_score
conf_mat = confusion_matrix(y, train_preds)
class_rep = classification_report(y, train_preds)

In [97]:
print(conf_mat)
print(class_rep)
print('accuracy ', accuracy_score(y, train_preds)*100)

[[ 82 110]
 [  7 415]]
             precision    recall  f1-score   support

          N       0.92      0.43      0.58       192
          Y       0.79      0.98      0.88       422

avg / total       0.83      0.81      0.78       614

accuracy  80.9446254072

In [98]:
sub = pd.DataFrame(test_preds, index = test1.index, columns = ['Loan_Status'])
sub.head()

         Loan_Status
Loan_ID
LP001015           Y
LP001022           Y
LP001031           Y
LP001035           Y
LP001051           Y

In [99]:
sub.to_csv('Loan_Prediction_DecTreeClassifier.csv', index = True)

In [100]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
model_gini = DecisionTreeClassifier(criterion = 'gini', random_state = 100, max_depth = 3, min_samples_leaf = 5)
model_gini.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [101]:
train_preds1 = model_gini.predict(x)
test_preds1 = model_gini.predict(test1)

In [102]:
conf_mat = confusion_matrix(y, train_preds1)
class_rep = classification_report(y, train_preds1)

In [103]:
print(conf_mat)

[[ 86 106]
 [  8 414]]

In [104]:
print(class_rep)

             precision    recall  f1-score   support

          N       0.91      0.45      0.60       192
          Y       0.80      0.98      0.88       422

avg / total       0.83      0.81      0.79       614

In [105]:
print('accuracy', accuracy_score(y, train_preds)*100)

accuracy 80.9446254072

In [106]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors = 4, weights = 'distance')
model.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=4, p=2,
           weights='distance')

In [107]:
train_pred = model.predict(x)
test_pred = model.predict(test1)

In [109]:
cf = confusion_matrix(y, train_pred)
clr = classification_report(y, train_pred)
ac = accuracy_score(y, train_pred)
print(cf)
print(clr)
print('accuracy', ac * 100)

[[192   0]
 [  0 422]]
             precision    recall  f1-score   support

          N       1.00      1.00      1.00       192
          Y       1.00      1.00      1.00       422

avg / total       1.00      1.00      1.00       614

accuracy 100.0

In [110]:
sub = pd.DataFrame(test_pred, test1.index, columns = ['Loan_Status'])
sub.head()

         Loan_Status
Loan_ID
LP001015           Y
LP001022           Y
LP001031           Y
LP001035           Y
LP001051           Y

In [112]:
sub.to_csv('Loan_Prediction_KNNClassifier.csv', index = True)