In [1]:
import pandas as pd

In [2]:
train = pd.read_csv(r"F:\Desktop\Digital Lync\DataSets\Loan_Prediction\train.csv")
test = pd.read_csv(r"F:\Desktop\Digital Lync\DataSets\Loan_Prediction\test.csv")

In [3]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
train = train.set_index('Loan_ID')
test = test.set_index('Loan_ID')

In [6]:
for col in train.columns:
    if train[col].dtypes == 'O':
        train[col]  = train[col].astype('category')

In [7]:
for col in test.columns:
    if test[col].dtypes == 'O':
        test[col]  = test[col].astype('category')

In [8]:
print(train.info(), train.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
Gender               601 non-null category
Married              611 non-null category
Dependents           599 non-null category
Education            614 non-null category
Self_Employed        582 non-null category
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null category
Loan_Status          614 non-null category
dtypes: category(7), float64(4), int64(1)
memory usage: 33.7+ KB
None Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [9]:
print(test.info(), test.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 367 entries, LP001015 to LP002989
Data columns (total 11 columns):
Gender               356 non-null category
Married              367 non-null category
Dependents           357 non-null category
Education            367 non-null category
Self_Employed        344 non-null category
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null category
dtypes: category(6), float64(3), int64(2)
memory usage: 20.0+ KB
None Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [10]:
from sklearn.preprocessing import Imputer

In [11]:
imp = Imputer(missing_values = 'NaN', strategy = 'median', copy = False)

In [12]:
miss_numcols = ['LoanAmount', 'Loan_Amount_Term', 'Credit_History']

In [13]:
for cols in miss_numcols:
    train[cols] = imp.fit_transform(train[cols].values.reshape(-1, 1))
    test[cols] = imp.fit_transform(test[cols].values.reshape(-1, 1))

In [14]:
cat_cols = ['Education', 'Gender', 'Married', 'Dependents', 'Self_Employed', 'Property_Area']
for col in cat_cols:
    mode = train[col].value_counts().index[0]
    mode1 = test[col].value_counts().index[0]
    train[col] = train[col].fillna(mode)
    test[col] = test[col].fillna(mode1)

In [15]:
train1 = pd.get_dummies(train, columns = cat_cols, drop_first = True)
test1 = pd.get_dummies(test, columns = cat_cols, drop_first = True)

In [16]:
x = train1.drop(['Loan_Status'], axis = 1)
y = train1['Loan_Status']

In [17]:
x.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Education_Not Graduate,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
Loan_ID,,,,,,,,,,,,,,
LP001002,5849,0.0,128.0,360.0,1.0,0,1,0,0,0,0,0,0,1
LP001003,4583,1508.0,128.0,360.0,1.0,0,1,1,1,0,0,0,0,0
LP001005,3000,0.0,66.0,360.0,1.0,0,1,1,0,0,0,1,0,1
LP001006,2583,2358.0,120.0,360.0,1.0,1,1,1,0,0,0,0,0,1
LP001008,6000,0.0,141.0,360.0,1.0,0,1,0,0,0,0,0,0,1

In [18]:
y.head()

Loan_ID
LP001002    Y
LP001003    N
LP001005    Y
LP001006    Y
LP001008    Y
Name: Loan_Status, dtype: category
Categories (2, object): [N, Y]

In [19]:
from sklearn.ensemble import (AdaBoostClassifier, BaggingClassifier, RandomForestClassifier,
                              ExtraTreesClassifier, GradientBoostingClassifier)

#model = AdaBoostClassifier(learning_rate = 0.2, n_estimators = 20) (score in AV 0.77778)
#model = BaggingClassifier(n_estimators = 30, max_samples = 0.4)  # 0.79166
#model = ExtraTreesClassifier(min_impurity_decrease=0.001, n_estimators = 120)  0.777778
#model = GradientBoostingClassifier(learning_rate = 1.4, n_estimators = 20) 0.7569
#model = RandomForestClassifier(n_estimators = 30, min_impurity_decrease= 0.01)        0.7777778

import xgboost as xg
model = xg.XGBClassifier(base_score = 0.3, n_estimators = 40)            
model.fit(x, y)

XGBClassifier(base_score=0.3, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=40,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [20]:
train_preds = model.predict(x)
test_preds = model.predict(test1)

In [21]:
from sklearn.metrics import classification_report, confusion_matrix
clr = classification_report(y, train_preds)
cm = confusion_matrix(y, train_preds)
print(cm, clr)

[[ 86 106]
 [  8 414]]              precision    recall  f1-score   support

          N       0.91      0.45      0.60       192
          Y       0.80      0.98      0.88       422

avg / total       0.83      0.81      0.79       614

In [22]:
sub = pd.DataFrame(test_preds, index = test1.index, columns = ['Loan_Status'],copy = True)
sub.head()

         Loan_Status
Loan_ID
LP001015           Y
LP001022           Y
LP001031           Y
LP001035           Y
LP001051           Y

In [23]:
sub.to_csv('RandomForest_LoanPrediction.csv', index = True)